{% extends 'base.html' %}

{% block title %}Hauptseite{% endblock %}

{% block content %}

    <main class="container">

        <h1 class="title">Fragen & Antworten</h1>

        <div class="reviews-list">
            {% for q in questions %}
            <div class="review-card">
                <div class="review-header">
                    <span class="review-name">{{ q.question }}</span>
                    <span class="review-date">{{ q.date|date:"d.m.Y" }}</span>
                </div>
                <p class="review-text">{{ q.answer }}</p>
            </div>
            {% empty %}
            <p class="no-reviews">Noch keine Fragen vorhanden.</p>
            {% endfor %}
        </div>

        <div class="review-form-block">
            <h2 class="review-form-title">Frage stellen</h2>
                {% if already_asked %}
            <p class="sign-description">Sie haben bereits eine Frage gestellt. Bitte warten Sie auf die Antwort.</p>
                {% else %}
            <form method="POST">
                {% csrf_token %}
            <textarea name="question" placeholder="Ihre Frage" class="form-control" rows="3"
                oninvalid="this.setCustomValidity('Bitte füllen Sie dieses Feld aus')"
                oninput="this.setCustomValidity('')" required></textarea>
            <button type="submit" class="btn btn-download">Absenden</button>
        </form>
        
            {% endif %}

        </div>
        <div class="reviews-link">
    <a href="{% url 'login' %}" class="btn btn-view">Login</a>
    <a href="{% url 'index' %}" class="btn btn-view">← Zurück</a>
        </div>

        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="murdddl" data-description="Support me on Buy me a coffee!" data-message="" data-color="#1a1a1a" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </main>

{% endblock %} 