{% load static %}

{% extends 'base.html' %}

{% block title %}Hauptseite{% endblock %}

{% block content %}

    <main class="container">

        <h1 class="title">Login</h1>

        <div class="review-form-block">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Benutzername" class="form-control" required>
                <input type="password" name="password" placeholder="Passwort" class="form-control" required>
                {% if form.errors %}
                    <p style="color: red; font-size: 0.85rem;">Falscher Benutzername oder Passwort.</p>
                {% endif %}
                <button type="submit" class="btn btn-download">Einloggen</button>
            </form>
        </div>

    </main>
    
{% endblock %}